*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --intro-padding: 15px;
  --intro-height: 300px;
  --font-color: #f7f7f7;
  --nav-bar-color: #465ebf;
  --background-color: #0d1b2a;
  --main-color2: #5162a5;
}
body {
  background-color: var(--background-color);
  position: relative;
  font-family: "Nunito", sans-serif;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--nav-bar-color);
}

.logo {
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo .h4 {
  color: var(--font-color);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--font-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--font-color);
  margin: 5px;
}
.navigation-header li {
  font-family: "Poppins", sans-serif;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.header {
  padding-top: 10%;
  display: flex;
  background: color;
  justify-content: space-around;
  color: var(--font-color);
}
.intro {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5%;
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}
.intro-1 {
  border-radius: 2%;
  color: var(--font-color);
  min-height: var(--intro-height);
  background-color: var(--main-color2);
  padding: var(--intro-padding);
  box-shadow: 2px 4px black;
}
.intro-2 {
  border-radius: 2%;
  color: var(--font-color);
  min-height: var(--intro-height);
  background-color: var(--main-color2);
  padding: var(--intro-padding);
  box-shadow: 2px 4px black;
}
.intro-3 {
  border-radius: 2%;
  color: var(--font-color);
  min-height: var(--intro-height);
  background-color: var(--main-color2);
  padding: var(--intro-padding);
  box-shadow: 2px 4px black;
}

a {
  text-decoration: none;
}
